@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Permanent+Marker&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #e9edcd;
}
#main-header h1 {
    font-family: 'Kaushan Script', cursive;
    color: #ff006e;
}
#blog-body {
    background-color: #edf2f4;
}
#blog-body h1 {
    font-family: 'Permanent Marker', cursive;
    color: #432818;
}
#blog-body p:last-child {
    color: #ff006e;
}