.jumbotron {
    background-image: url("../img/pizza.png");
    background-size: cover;
    height: 346px;
}
/*#home, #profile, #contact {*/
/*    display: none;*/
/*}*/
/*.show {*/
/*    display: block;*/
/*    height: auto;*/
/*}*/